/** MOBILE **/

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  min-height: 20rem;
}

.breakLine {
  height: 2px;
  width: 150px;
  background-color: var(--text-color);
}

.testimonialOrigin {
  opacity: 50%;
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .slide {
    width: fit-content;
    min-width: 25rem;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
