.hero {
  position: relative;
  height: 100vh;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: var(--font-larger);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background-color-alt);
  padding: 1rem;
}

.introduction p {
  padding-inline: 1rem;
  font-size: var(--font-small);
}

.shop {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--background-color-alt);
}

.shopText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.shopText * {
  color: var(--background-color);
}

.shopText h2 {
  font-size: var(--font-larger);
}

.shop p,
.shop li {
  font-size: var(--font-smaller);
}

.detailsList {
  list-style-position: inside;
  margin-block: 1rem;
}

.shopImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.st1 {
  order: 1;
  background-color: var(--accent-red);
}

.si1 {
  order: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  aspect-ratio: 1/1;
}

.st2 {
  order: 3;
  background-color: var(--accent-green);
}

.si2 {
  order: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  aspect-ratio: 1/1;
}

.st3 {
  order: 5;
  background-color: var(--accent-yellow);
}

.si3 {
  order: 6;
}

.st4 {
  order: 7;
  background-color: var(--accent-blue);
}
.si4 {
  order: 8;
}

.st5 {
  order: 9;
  background-color: var(--accent-brown);
}

.si5 {
  order: 10;
}

.st6 {
  order: 11;
  background-color: var(--accent-beige);
}

.si6 {
  order: 12;
}

.st7 {
  order: 13;
  background-color: var(--accent-purple);
}

.si7 {
  order: 14;
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .hero h1 {
    font-size: 4rem;
  }

  .shop {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop p,
  .shop li {
    font-size: var(--font-small);
  }

  .shopText {
    aspect-ratio: auto;
  }
}

@media only screen and (min-width: 900px) {
  .introduction {
    padding: 4rem 10%;
    align-items: center;
  }

  .shop {
    padding: 4rem 10%;
  }

  .shopText {
    padding: 2rem;
  }

  .shopText h2 {
    font-size: 2.5rem;
  }

  .st2 {
    order: 4;
  }

  .si2 {
    order: 3;
  }

  .st4 {
    order: 8;
  }
  .si4 {
    order: 7;
  }

  .st6 {
    order: 12;
  }
  .si6 {
    order: 11;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
