/** GENERAL **/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  /* Colors */
  --background-color: #fdfdfd;
  --background-color-alt: #f0f0f0;
  --text-color: #130303;
  --accent-blue: #2274a5;
  --accent-red: #c0410c;
  --accent-yellow: #fcb72c;
  --accent-green: #646f0e;

  /* Font-Sizes */
  --font-smaller: 1rem;
  --font-small: 1.25rem;
  --font-medium: 1.5rem;
  --font-large: 1.75rem;
  --font-larger: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
button,
span {
  overflow-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
}

p {
  max-width: 60ch;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/** SPECIFICS **/
