/** MOBILE **/

.hero {
  position: relative;
  height: 100vh;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: var(--font-larger);
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero p {
  font-size: var(--font-small);
}

.hero p:first-of-type {
  font-weight: bold;
  padding-top: 80px;
  text-transform: uppercase;
}

.hero * {
  color: white;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.background {
  width: 100%;
  background-color: var(--background-color-alt);
}

.address {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: var(--font-smaller);
  font-weight: bold;
}

.familyWords {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 1rem;
}

.familyWords article {
  border-radius: 10px;
}

.familyWords article * {
  color: var(--text-color);
}

.familyWords article:nth-child(1) h2 {
  color: var(--accent-red);
}

.familyWords article:nth-child(2) h2 {
  color: var(--accent-yellow);
}

.familyWords article:nth-child(3) h2 {
  color: var(--accent-blue);
}

.breakLine {
  display: flex;
  justify-content: center;

  width: 100%;
}

.breakLine div {
  background-color: var(--text-color);
  opacity: 50%;
  height: 1px;
  width: 100%;
  margin: 1rem;
}

.testimonals {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.leftButton:hover,
.rightButton:hover {
  cursor: pointer;
}

.facebook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
}

.facebookFeed {
  width: 100%;
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p:first-of-type {
    padding-top: 100px;
  }

  .address {
    padding-top: 4rem;
    padding-bottom: 0;
    font-size: var(--font-medium);
  }

  .familyWords {
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 10%;
  }

  .breakLine div {
    margin: 0 10%;
  }

  .testimonals {
    padding: 4rem 10%;
  }

  .leftButton {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 10%; /* Adjust this value */
  }

  .rightButton {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 10%; /* Adjust this value */
  }

  .facebook {
    padding: 4rem 10%;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
