/** MOBILE **/

.frontPageMain {
  min-height: 100dvh;
  background-color: var(--background-color);
  padding: 1rem;
  padding-top: 96px;
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .frontPageMain {
    padding-inline: 10%;
    padding-top: 116px;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
