/** MOBILE **/

.hero {
  position: relative;
  height: 100dvh;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: var(--font-small);
}

.hero p:first-of-type {
  font-weight: bold;
  padding-top: 80px;
}

.hero * {
  color: white;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.testimonals {
  position: relative;
  height: calc(100dvh - 80px);
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.leftButton:hover,
.rightButton:hover {
  cursor: pointer;
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p:first-of-type {
    padding-top: 100px;
  }

  .testimonals {
    height: calc(100dvh - 100px);
  }

  .leftButton {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 10%;
  }

  .rightButton {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 10%;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
