.hero {
  position: relative;
  height: 100dvh;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero p {
  font-size: var(--font-small);
}

.hero * {
  color: white;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.shop {
  height: 100dvh;
}

@media only screen and (min-width: 600px) {
  .hero {
    text-align: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 4rem;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
