.hero {
  position: relative;
  height: 100vh;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: var(--font-larger);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.smallHeading {
  font-size: var(--font-small);
}

.smallHeading2 {
  font-size: var(--font-smaller);
  text-decoration: underline;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background-color-alt);
  padding-block: 1rem;
  padding-inline: 1rem;
}

.introduction p,
.introduction h2,
.partnership p,
.partnership h2 {
  font-size: var(--font-smaller);
}

.words,
.partners {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.words span,
.partners a {
  font-size: var(--font-medium);
  font-weight: bold;
}

.partners a {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: var(--font-small);
  color: var(--background-color);
  flex-grow: 1;
  text-align: center;
  transition: 0.2s ease;
}

.partners a:hover {
  opacity: 80%;
}

.word1 {
  color: var(--accent-red);
}

.word2 {
  color: var(--accent-yellow);
}

.word3 {
  color: var(--accent-blue);
}

.partner1 {
  background-color: var(--accent-brown);
}

.partner2 {
  background-color: var(--accent-beige);
}

.partner3 {
  background-color: var(--accent-green);
}

.us {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--background-color-alt);
}

.us p,
.us li {
  font-size: var(--font-smaller);
}

.usText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.usText * {
  color: var(--background-color);
}

.usText h2 {
  font-size: var(--font-larger);
}

.usImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ut1 {
  order: 1;
  background-color: var(--accent-red);
}

.ui1 {
  order: 2;
}

.ut2 {
  order: 3;
  background-color: var(--accent-yellow);
  margin-top: 1rem;
}

.ui2 {
  order: 4;
}

.partnership,
.openingHours,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background-color-alt);
  padding-block: 1rem;
  padding-inline: 1rem;
}

.openingHoursGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.period {
  margin-bottom: 0.5rem;
}

#arranged {
  margin-top: 0.25rem;
  opacity: 50%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.flexRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flexRow * {
  font-size: var(--font-smaller);
}

.breakLine {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-alt);
  width: 100%;
}

.breakLine div {
  background-color: var(--text-color);
  opacity: 50%;
  height: 1px;
  width: 100%;
  margin: 1rem;
}

.arranged {
  font-size: var(--font-smaller);
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .hero h1 {
    font-size: 4rem;
  }

  .introduction p,
  .introduction h2,
  .partnership p,
  .partnership h2,
  .contact p,
  .contact h2 {
    font-size: var(--font-small);
  }

  .words {
    display: flex;
    flex-direction: row;
  }

  .words span {
    font-size: var(--font-large);
  }

  .partners a {
    padding: 1rem;
  }

  .us {
    grid-template-columns: repeat(2, 1fr);
  }

  .ut2 {
    margin-top: 0;
  }

  .us p,
  .us li,
  .openingHours p {
    font-size: var(--font-small);
  }

  .usText {
    aspect-ratio: auto;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .flexRow * {
    font-size: var(--font-small);
  }
}

@media only screen and (min-width: 900px) {
  .introduction {
    padding-top: 4rem;
    padding-inline: 10%;
    align-items: center;
  }

  .partnership,
  .openingHours,
  .contact {
    padding-bottom: 4rem;
    padding-inline: 10%;
    align-items: center;
  }

  .openingHoursGrid {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
  }

  .us {
    padding: 4rem 10%;
  }

  .usText {
    padding: 2rem;
  }

  .usText h2 {
    font-size: 2.5rem;
  }

  .ut2 {
    order: 4;
  }

  .ui2 {
    order: 3;
  }

  .breakLine {
    padding-bottom: 3rem;
  }

  .breakLine div {
    margin: 0 10%;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
